<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.doublef.pipedriveclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.home.view.ContactsListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.login.view.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:noHistory="true">
        </activity>
        <activity android:name=".feature.details.DetailsActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="58e62ee3069f7917e79219f38e49282a7175db1c" />
    </application>

</manifest>